<div class="booth">
  <div class="booth-glass">
    <div class="ceiling">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>
    <div class="recording-area">
      <div class="filter-container">
        <div class="filter" (click)="toStart()"></div>
        <div class="stand"></div>
      </div>
      <div class="mic-container">
        <a class="mic" (click)="playTune()"></a>
        <div class="stand"></div>
      </div>
    </div>
  </div>
</div>