<div class="computer">
  <div class="text" [ngClass]="{'bg-black-black' : background}">
    <div>
      <span class="big">T</span>he days of debating if artificial intelligence (AI) will impact the music industry are
      over. Artificial
      intelligence is already used in many ways. Now it’s time to consider how much it will influence how we create and
      consume music. Just as it does for other industries, in the music industry, AI automates services, discovers
      patterns and insights in enormous data sets, and helps create efficiencies. Companies in the music industry need
      to accept and prepare for how AI can transform business; those that won’t will be left behind.
    </div>
    <div class="strong">AI Catapults Growth in the Music Industry</div>
    <div>Businesses are being reshaped by technology, and those in the music industry are no exception. According to a
      McKinsey report, 70 per cent of companies will have adopted at least one AI technology by 2030. The promise of AI
      is
      that it will complement and augment our human capabilities. As we make better choices and become more effective
      and efficient thanks to the insights and support AI provides, it can drive growth and innovation. As a result of
      AI’s impact, the creative process will likely transform.
    </div>
    <div>Scott Cohen is one thought leader in the music industry who saw the potential impact of technology on the
      music
      industry’s future when others didn’t. His thoughts for a distribution company in the digital music age ultimately
      became The Orchard, which was acquired by Sony in 2015 for $200 million. During his keynote presentation at the
      Eurosonic Nooder- slag conference, he said, “Every ten years something kills the music industry. If you want to
      know
      what’s next look at the tech world.”
    </div>
    <div>He explained that there are 20,000 new tracks uploaded to Spotify every day and AI is critical for helping sort
      through the options and delivering recommendations to listeners based on what they’ve listened to in the past.
      Cohen
      believes that AI and big data
      made the “music genre” obsolete because AI-generated playlists are made not based on genre, but what is determined
      to be good music. In addition, he suggests that our current paradigm of infinite choice is broken and recommends a
      new model of trusted recommendations. And technology such as blockchain could eliminate the need for brands being
      a
      conduit to connect people to music. The live music industry should also be considering how to incor- porate
      augmented and virtual realities to
      the concert experience.
    </div>
    <div class="strong">AI Creates Music</div>
    <div>
      Back in 1951 British computer scientist, Alan Turing was the first to record computer-generated music using a
      machine that filled almost an entire floor of the lab. In recent years, the recording was restored by New Zealand
      researchers 65 years after it
      was created. Music composition either by AI or using AI continues today. AI starts by analyzing data from
      different compositions when it creates musical pieces. Through reinforcement learning, the algorithm learns what
      characteristics and patterns create music that is enjoyable or that mimics a certain genre. The AI model can also
      compose innovative musical numbers by combining elements in unique ways.
    </div>
    <div>
      Tech companies are investing in a future where AI creates or assists musicians in creating music. Google’s Magenta
      project, an open-source platform, produced songs written and performed by AI and Sony developed Flow Machines,
      an
      AI system that’s already released “Daddy’s Car,” a song created by AI. Musicians and professionals in the music
      industry will need to acquire tech skills in order to leverage the power of AI tools that will help them do their
      jobs even better.Other AI services such as Jukedeck and Amper Music help
      amateur musicians to develop their own musical pieces with the assistance of AI.
    </div>
    <div class="strong">Audio Mastering with AI</div>
    <div>
      The listening experience is optimized for any device in a process called audio mastering. AI-based mastering
      services such as LANDR provide musicians with a more affordable alternative to human-based mastering, and so far
      more than 2 million musicians have used it to master more than 10 million songs. While there is still a creative
      component involved in audio mastering and some prefer to rely on humans to do this work, AI makes the services
      accessible to artists who wouldn’t be able to master their songs otherwise.
    </div>
    <div>AI is behind the scenes influencing the music we listen to in many ways.</div>
    <div class="strong">By: Bernard Marr</div>
  </div>
  <div class="buttons">
    <div class="text-buttons">+</div>
    <div class="text-buttons">-</div>
    <div class="small-circle">&nbsp;</div>
    <div class="small-circle">&nbsp;</div>
    <button class="large-circle" (click)="background = !background">&nbsp;</button>
  </div>
</div>