<div class="container">
  <div class="booth">
    <div class="booth-glass">
      <div class="ceiling">
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
      </div>
      <div class="recording-area" (click)="toBooth()">
        <div class="filter-container">
          <div class="filter"></div>
          <div class="stand"></div>
        </div>
        <div class="mic-container">
          <a class="mic"></a>
          <div class="stand"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tech row justify-space-around">
    <div class="speaker">
      <div class="top-circle"></div>
      <div class="bottom-circle"></div>
    </div>
    <a class="computer comp" (click)="toArticle()" style="cursor: pointer;">
      <span>The Amazing Ways Artificial Intelligence Is Transforming The Music Industry</span>
    </a>
    <a class="computer">
      <img src="./assets/garageband.png" class="w-100 h-100">
    </a>
    <div class="speaker">
      <div class="top-circle"></div>
      <div class="bottom-circle"></div>
    </div>
  </div>
  <div class="controls">
    <img src="./assets/soundboard.png">
    <img src="./assets/soundboard.png">
    <img src="./assets/soundboard.png">
  </div>
</div>