.black { color: $black }
.bg-black { background-color: $black}

.brown { color: $brown }
.bg-brown { background-color: $brown; }

.off-brown { color: $off-brown }
.bg-off-brown { background-color: $off-brown; }

.red { color: $red }
.bg-red { background-color: $red; }